<!DOCTYPE html>
<html ng-app="andyBeeApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/static/js/external/angular-1.6.3.min.js"></script>
    <script src="/static/js/external/leaflet.js"></script>
    <script src="/static/js/external/angular-leaflet-directive.js"></script>


    <script src="/static/js/external/angular-animate.min.js"></script>
    <script src="/static/js/external/angular-sanitize.min.js"></script>
    <script src="/static/js/external/angular-resource.min.js"></script>
    <script src="/static/js/external/ui-bootstrap-tpls-2.5.0.min.js"></script>



    <script src="/static/main/andyBee.js"></script>
    <script src="/static/main/andyBeeCtrl.js"></script>
    <!--script src="/static/main/logFact.js"></script-->
    <script src="/static/main/directive.js"></script>
    <!--script src="/static/preferences/prefMod.js"></script-->
    <script src="/static/preferences/prefFact.js"></script>
    <script src="/static/preferences/prefCtrl.js"></script>
    <script src="/static/geocaches/GeocacheService.js"></script>
    <script src="/static/geocaches/openDbCtrl.js"></script>


    <link href="/static/css/external/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/external/leaflet.css" rel="stylesheet">
    <link href="/static/css/andyBee.css" rel="stylesheet">

  </head>

  <body ng-controller="andyBeeCtrl as app">
    <!--leaflet width="100%" height="480px"></leaflet-->
    <h1>First steps, basic example</h1>



<div id="content">
    <leaflet width="100%" height="480px"></leaflet
<uib-tabset>
    <uib-tab index="0" heading="Cache List">
        <table class="table table-striped table-bordered table-hover table-responsive">
            <tr>
                <th>Cache</th>
                <th>D</th>
                <th>T</th>
                <th>Title</th>
                <th>Placed by</th>
            </tr>
            <tr ng-repeat="cache in app.geocache.geocache_list">
                <td>{{ cache.gc_id }}</td>
                <td>{{ cache.difficulty}}</td>
                <td>{{ cache.terrain }}</td>
                <td>{{ cache.title }}</td>
                <td>{{ cache.placed_by }}</td>
            </tr>
        </table> 
    </uib-tab>
    <uib-tab index="1" heading="Map">
        Hier kommt die Karte hin
        <!--div id="map" style="height: 400px"></div-->
        <!--leaflet id="map" width="100%" height="480px" style="width:600px; height:480px;"></leaflet-->
    </uib-tab>
    <uib-tab index="2" heading="Cache Details">
        Hier ist Platz für die Cache Details
    </uib-tab>
    <uib-tab index="4" heading="Console">
        <div uib-alert ng-repeat="alert in app.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="app.close_alert($index)">{{alert.msg|angular}}</div>
    </uib-tab>
</uib-tabset>    
</div>



<div id="statusbar" class="statusbar pull-left text-muted container">
    DB: {{ app.db_file }}
</div>


  </body>
</html>

