<div class="modal-header">
    <button type="button" class="close" ng-click="basic.dismiss()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title" id="modal-title">Basic Filter</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="form-group pull-left" ng-if="basic.name != ''" >
            <label>Filter Name</label>
            <input type="text" class="form-control" ng-model="basic.name" placeholder="Name of the Filter" ng-disabled="basic.name == basic.scratch_name">
        </div>
        <div class="form-group pull-right" ng-if="basic.filter_list.length">
            <label>Use settings from</label>
            <select class="form-control" ng-model="basic.select" ng-change="basic.load_filter(basic.select)">
                <option ng-repeat="file in basic.filter_list" value="{{file.id}}">{{file.name}}</option>
            </select>
        </div>
    </div>
    

    <uib-accordion>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading><span ng-class="{'bold': basic.changed_0}">Difficulty, Terrain, Type</span></uib-accordion-heading>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <input type="checkbox" ng-model="basic.diff_active" ng-change="basic.on_changed_0()">
                        <label> Difficulty</label>
                    </div>
                    <div class="form-inline col-xs-9">
                        <select class="form-control" ng-model="basic.diff_op" ng-disabled="!basic.diff_active" ng-change="basic.on_changed_0()">
                            <option value="ge">Geater than or equal to ("&gt;=")</option>
                            <option value="eq">Equal to ("=")</option>
                            <option value="le">Less than or equal to ("&lt;=")</option>
                        </select>
                        <select class="form-control" ng-model="basic.diff_val" ng-disabled="!basic.diff_active" ng-change="basic.on_changed_0()">
                            <option>1</option>
                            <option>1.5</option>
                            <option>2</option>
                            <option>2.5</option>
                            <option>3</option>
                            <option>3.5</option>
                            <option>4</option>
                            <option>4.5</option>
                            <option>5</option>
                        </select> 
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <input type="checkbox" ng-model="basic.terr_active" ng-change="basic.on_changed_0()">
                        <label> Terrain</label>
                    </div>
                    <div class="form-inline col-xs-9">
                        <select class="form-control" ng-model="basic.terr_op" ng-disabled="!basic.terr_active" ng-change="basic.on_changed_0()">
                            <option value="ge">Geater than or equal to ("&gt;=")</option>
                            <option value="eq">Equal to ("=")</option>
                            <option value="le">Less than or equal to ("&lt;=")</option>
                        </select>
                        <select class="form-control" ng-model="basic.terr_val" ng-disabled="!basic.terr_active" ng-change="basic.on_changed_0()">
                            <option>1</option>
                            <option>1.5</option>
                            <option>2</option>
                            <option>2.5</option>
                            <option>3</option>
                            <option>3.5</option>
                            <option>4</option>
                            <option>4.5</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.type_active" ng-change="basic.on_changed_0()">
                    <label> Cache Type</label>
                </div>
                <div class="form-indent rounded-border" ng-class="{'text-muted': !basic.type_active}">
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.tradi"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/traditional.svg"  class="filter_type"> Traditional</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.letter"    ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/letterbox.svg"    class="filter_type"> Letterbox</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.event"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/event.svg"        class="filter_type"> Event Cache</label></div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.multi"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/multi.svg"        class="filter_type"> Multi Cache</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.wherigo"   ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/wherigo.svg"      class="filter_type"> Wherigo</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.mega"      ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/mega.svg"         class="filter_type"> Mega Event</label></div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.unknown"   ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/unknown.svg"      class="filter_type"> Unknown</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.earth"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/earth.svg"        class="filter_type"> Earth Cache</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.cito"      ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/cito.svg"         class="filter_type"> CITO</label></div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.virtual"   ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/virtual.svg"      class="filter_type"> Virtual</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.adventure" ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/adventures.svg"   class="filter_type"> Adventure</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.webcam"    ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/webcam.svg"       class="filter_type"> Webcam</label></div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.ape"       ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/ape.svg"          class="filter_type"> A.P.E.</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.less"      ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> <img src="static/images/types/locationless.svg" class="filter_type"> Locationless</label></div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
                
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading><span ng-class="{'bold': basic.changed_1}">Container, Description, Title, Status</span></uib-accordion-heading>
            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.container_active" ng-change="basic.on_changed_1()">
                    <label> Cache container</label>
                </div>
                <div class="form-indent rounded-border" ng-class="{'text-muted': !basic.container_active}">
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.container.micro"      ng-change="basic.on_changed_1()" ng-disabled="!basic.container_active"> <label> Micro</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.container.small"      ng-change="basic.on_changed_1()" ng-disabled="!basic.container_active"> <label> Small</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.container.regular"    ng-change="basic.on_changed_1()" ng-disabled="!basic.container_active"> <label> Regular</label></div>
                    </div>
                    <div class="row">
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.container.large"      ng-change="basic.on_changed_1()" ng-disabled="!basic.container_active"> <label> Large</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.container.other"      ng-change="basic.on_changed_1()" ng-disabled="!basic.container_active"> <label> Virtual</label></div>
                        <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.container.not_chosen" ng-change="basic.on_changed_1()" ng-disabled="!basic.container_active"> <label> Not chosen</label></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.title_active" ng-change="basic.on_changed_1()">
                    <label> Cache title contains the following text:</label>
                </div>
                <div class="form-indent" ng-class="{'text-muted': !basic.title_active}">
                    <input type="text" class="form-control" ng-model="basic.title" ng-change="basic.on_changed_1()" ng-disabled="!basic.title_active">
                    <input type="checkbox" ng-model="basic.title_case" ng-disabled="!basic.title_active">
                    <label>case-sensitive</label>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.description_active" ng-change="basic.on_changed_1()">
                    <label> Cache description contains the following text:</label>
                </div>
                <div class="form-indent" ng-class="{'text-muted': !basic.description_active}">
                    <input type="text" class="form-control" ng-model="basic.description" ng-change="basic.on_changed_1()" ng-disabled="!basic.description_active">
                    <input type="checkbox" ng-model="basic.description_case" ng-disabled="!basic.description_active">
                    <label>case-sensitive</label>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <div>
                            <input type="checkbox" ng-model="basic.available_active" ng-change="basic.on_changed_1()">
                            <label> Available status:</label>
                        </div>
                        <div class="form-indent" ng-class="{'text-muted': !basic.available_active}">
                            <form>
                                <label><input type="radio" ng-model="basic.available" ng-value="true"  ng-disabled="!basic.available_active" /> Cache is available</label><br/>
                                <label><input type="radio" ng-model="basic.available" ng-value="false" ng-disabled="!basic.available_active" /> Cache is disabled</label><br/>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div>
                            <input type="checkbox" ng-model="basic.archived_active" ng-change="basic.on_changed_1()">
                            <label> Archived status:</label>
                        </div>
                        <div class="form-indent" ng-class="{'text-muted': !basic.archived_active}">
                            <form>
                                <label><input type="radio" ng-model="basic.archived" ng-value="true"  ng-disabled="!basic.archived_active" /> Cache is archived</label><br/>
                                <label><input type="radio" ng-model="basic.archived" ng-value="false" ng-disabled="!basic.archived_active" /> Cache is not archived</label><br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        <div>
                            <input type="checkbox" ng-model="basic.found_active" ng-change="basic.on_changed_1()">
                            <label> Found status:</label>
                        </div>
                        <div class="form-indent" ng-class="{'text-muted': !basic.found_active}">
                            <form>
                                <label><input type="radio" ng-model="basic.found" ng-value="true"  ng-disabled="!basic.found_active" /> Cache found by me</label><br/>
                                <label><input type="radio" ng-model="basic.found" ng-value="false" ng-disabled="!basic.found_active" /> Cache not found by me</label><br/>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div>
                            <input type="checkbox" ng-model="basic.owned_active" ng-change="basic.on_changed_1()">
                            <label> Owner status:</label>
                        </div>
                        <div class="form-indent" ng-class="{'text-muted': !basic.owned_active}">
                            <form>
                                <label><input type="radio" ng-model="basic.owned" ng-value="true" ng-disabled="!basic.owned_active" /> Cache is owned by me</label><br/>
                                <label><input type="radio" ng-model="basic.owned" ng-value="false" ng-disabled="!basic.owned_active" /> Cache is not owned by me</label><br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading><span ng-class="{'bold': basic.changed_2}">Placement, Location</span></uib-accordion-heading>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                        <label>Country</label>
                    </div>
                    <div class="form-inline col-xs-10">
                        <select ng-model="basic.country" ng-options="country for country in basic.countries" ng-change="basic.on_changed_2()" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-2">
                        <label>State</label>
                    </div>
                    <div class="form-inline col-xs-10">
                        <select ng-model="basic.state" ng-options="state for state in basic.states" ng-change="basic.on_changed_2()" class="form-control" ></select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.owner_active" ng-change="basic.on_changed_2()">
                    <label> Cache owner</label>
                </div>
                <div class="form-indent" ng-class="{'text-muted': !basic.owner_active}">
                    <input type="text" class="form-control" ng-model="basic.owner" ng-change="basic.on_changed_2()" ng-disabled="!basic.owner_active">
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.placed_active" ng-change="basic.on_changed_2()">
                    <label> Cache placed</label>
                </div>
                <div class="form-indent form-inline" ng-class="{'text-muted': !basic.title_active}">
                    <select class="form-control" ng-model="basic.placed_cond" ng-disabled="!basic.placed_active" ng-change="basic.on_changed_2()">
                        <option value="eq">on</option>
                        <option value="ge">on or after</option>
                        <option value="le">on or before</option>
                    </select>
                    <div class="input-group" moment-picker="basic.placed" format="YYYY-MM-DD" start-view="month" max-date="basic.placed_max">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input class="form-control" placeholder="Select a date" ng-model="basic.placed" ng-model-options="{updateOn: 'blur'}" ng-disabled="!basic.placed_active">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.distance_active" ng-change="basic.on_changed_2()">
                    <label> Distance to map center</label>
                </div>
                <div class="form-indent form-inline" ng-class="{'text-muted': !basic.distance_active}">
                    <select class="form-control" ng-model="basic.distance_cond" ng-disabled="!basic.distance_active" ng-change="basic.on_changed_2()">
                        <option value="lt">less than</option>
                        <option value="gt">greater than</option>
                    </select>
                    <input type="text" class="form-control" ng-model="basic.distance" ng-change="basic.validate_distance(); basic.on_changed_2()" ng-class="{'invalid_input': basic.distance_invalid}" ng-disabled="!basic.distance_active"> km
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading><span ng-class="{'bold': basic.changed_3}">Notes, User Data, Waypoints, Corrected</span></uib-accordion-heading>
            <div class="form-group">
                <div>
                    <input type="checkbox" ng-model="basic.corrected_active" ng-change="basic.on_changed_3()">
                    <label> Corrected Coordinates</label>
                </div>
                <div class="form-indent" ng-class="{'text-muted': !basic.corrected_active}">
                    <form>
                        <label><input type="radio" ng-model="basic.corrected" ng-value="true"  ng-disabled="!basic.corrected_active" /> Cache has corrected coordinates</label><br/>
                        <label><input type="radio" ng-model="basic.corrected" ng-value="false" ng-disabled="!basic.corrected_active" /> Cache does not have corrected coordinates</label><br/>
                    </form>
                </div>
            </div>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Attributes</uib-accordion-heading>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Updated, Found</uib-accordion-heading>
        </div>
    </uib-accordion>
    <div class="right-aligned">
        <button class="btn" type="button" ng-click="basic.reset()">Reset filter settings</button>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="basic.close()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="basic.dismiss()">Cancel</button>
</div>
