<div class="modal-header">
    <button type="button" class="close" ng-click="basic.dismiss()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title" id="modal-title">Basic Filter</h3>
</div>
<div class="modal-body">

    <div class="container-fluid">
        <div class="form-group pull-left" ng-if="basic.show_name" >
            <label>Filter Name</label>
            <input type="text" class="form-control" ng-model="basic.name" placeholder="Name of the Filter">
        </div>
        <div class="form-group pull-right">
            <label>Use settings from</label>
            <select class="form-control" ng-model="basic.select" ng-change="basic.load_filter(basic.select)">
                <option ng-repeat="file in basic.filter_list" value="{{file.id}}">{{file.name}}</option>
            </select>
        </div>
    </div>
    

    <uib-accordion>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading><span ng-class="{'bold': basic.changed_0}">Difficulty, Terrain, Type</span></uib-accordion-heading>
            <div class="row">
                <div class="form-group form-inline col-xs-3">
                    <input type="checkbox" ng-model="basic.diff_active" ng-change="basic.on_changed_0()">
                    <label> Difficulty</label>
                </div>
                <div class="form-group form-inline col-xs-9">
                    <select class="form-control" ng-model="basic.diff_op" ng-disabled="!basic.diff_active" ng-change="basic.on_changed_0()">
                        <option value="ge">Geater than or equal to ("&gt;=")</option>
                        <option value="eq">Equal to ("=")</option>
                        <option value="le">Less than or equal to ("&lt;=")</option>
                    </select>
                    <select class="form-control" ng-model="basic.diff_val" ng-disabled="!basic.diff_active" ng-change="basic.on_changed_0()">
                        <option>1</option>
                        <option>1.5</option>
                        <option>2</option>
                        <option>2.5</option>
                        <option>3</option>
                        <option>3.5</option>
                        <option>4</option>
                        <option>4.5</option>
                        <option>5</option>
                    </select> 
                </div>
            </div>
            <div class="row">
                <div class="form-group form-inline col-xs-3">
                    <input type="checkbox" ng-model="basic.terr_active" ng-change="basic.on_changed_0()">
                    <label> Terrain</label>
                </div>
                <div class="form-group form-inline col-xs-9">
                    <select class="form-control" ng-model="basic.terr_op" ng-disabled="!basic.terr_active" ng-change="basic.on_changed_0()">
                        <option value="ge">Geater than or equal to ("&gt;=")</option>
                        <option value="eq">Equal to ("=")</option>
                        <option value="le">Less than or equal to ("&lt;=")</option>
                    </select>
                    <select class="form-control" ng-model="basic.terr_val" ng-disabled="!basic.terr_active" ng-change="basic.on_changed_0()">
                        <option>1</option>
                        <option>1.5</option>
                        <option>2</option>
                        <option>2.5</option>
                        <option>3</option>
                        <option>3.5</option>
                        <option>4</option>
                        <option>4.5</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group form-inline col-xs-3">
                    <input type="checkbox" ng-model="basic.type_active" ng-change="basic.on_changed_0()">
                    <label> Cache Type</label>
                </div>
                <div class="col-xs-9"></div>
            </div>
            <div style="margin-left:20px; padding:10px; border:1px solid #ddd; border-radius:5px;" ng-class="{'text-muted': !basic.type_active}">
                <div class="row">
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.tradi"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Traditional</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.letter"    ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Letterbox Hybrid</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.event"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Event Cache</label></div>
                </div>
                <div class="row">
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.multi"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Multi Cache</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.wherigo"   ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Wherigo</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.mega"      ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Mega Event</label></div>
                </div>
                <div class="row">
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.unknown"   ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Unknown</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.earth"     ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Earth Cache</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.cito"      ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> CITO</label></div>
                </div>
                <div class="row">
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.virtual"   ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Virtual</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.adventure" ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Adventure Maze</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.webcam"    ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Webcam</label></div>
                </div>
                <div class="row">
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.ape"       ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> A.P.E.</label></div>
                    <div class="form-group form-inline col-xs-4"><input type="checkbox" ng-model="basic.type.less"      ng-change="basic.on_changed_0()" ng-disabled="!basic.type_active"> <label> Locationless</label></div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
                
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Container, Description, Status</uib-accordion-heading>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Placement, Location</uib-accordion-heading>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Notes, User Data, Waypoints, Corrected</uib-accordion-heading>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Attributes</uib-accordion-heading>
        </div>
        <div uib-accordion-group class="panel-default">
            <uib-accordion-heading>Updated, Found</uib-accordion-heading>
        </div>
    </uib-accordion>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="basic.close()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="basic.dismiss()">Cancel</button>
</div>
