<div ng-controller="GeocacheDetailCtrl as geocache">
    <uib-tabset>
        <uib-tab index="0" heading="Overview">
            <div class="container-fluid cache-detail">
                <div class="pull-left">
                    <geocache-icon type="{{geocache.serv.detail.type|angular}}" class="detail-type"></geocache-icon>
                </div>
                <div class="pull-left">
                    <div class="container-fluid">
                        <h4 class="bold">{{geocache.serv.detail.gc_id|angular}}: {{geocache.serv.detail.title|angular}}</h4>
                        <div>{{geocache.serv.detail.type|angular}}</div>
                        <div>
                            <a href="{{geocache.serv.detail.url|angular}}" target="_blank" class="btn btn-info btn-sm" role="button">Open Listing on geocaching.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>Location: {{geocache.serv.detail.state|angular}}, {{geocache.serv.detail.country|angular}}</div>
            <div>A cache by: {{geocache.serv.detail.placed_by|angular}}, Owner: {{geocache.serv.detail.owner|angular}}</div>
            <div>Cache Size: {{geocache.serv.detail.controller|angular}} Difficulty: {{geocache.serv.detail.difficulty|angular}} Terrain: {{geocache.serv.detail.terrain|angular}}</div>
            <div>Attributes:
                <div ng-repeat="att in geocache.serv.detail.attributes">{{att.name|angular}}, {{att.inc|angular}}</div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Description">
            <div>{{geocache.serv.detail.short_desc|angular}}</div>
            <div>{{geocache.serv.detail.long_desc|angular}}</div>
            <div>Hint: {{geocache.serv.detail.encoded_hints|angular}}</div>
        </uib-tab>
        <uib-tab index="2" heading="Logs">
            <div ng-repeat="log in geocache.serv.detail.logs">
                <hr>
                <div>Date: {{log.date|angular}}</div>
                <div>{{log.type|angular}}</div>
                <div>Logged by: {{log.finder|angular}}</div>
                <hr>
                <div>{{log.text|angular}}</div>
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Waypoints">
        </uib-tab>
    </uib-tabset>    
</div>
