<div ng-controller="GeocacheListCtrl as geolist">
    <table ng-table-dynamic="geolist.tableParams with geolist.cols" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <!--td ng-repeat="col in $columns">{{"{{row[col.field]}}"}}</td-->
            <td ng-if="true"><!-- img src="static/images/OCMLogoSmall.svg" height="20px"/--> 
                <geocache-icon type="{{row.type|angular}}" height="20px"></geocache-icon>
                <span ng-class="{strike: row.archived, 'bg-danger': !row.available}">{{row.gc_id|angular}}</span>
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="geolist.show_details(row.id)" title="Show more geocache details"><span class="glyphicon glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default" ng-click="geolist.show_details(row.id)" title="Show geocache on map"><span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
                </div>
            </td>
            <td ng-if="true">{{"{{row.distance|km}}"}}</td>
            <td ng-if="true">{{row.difficulty|angular}}</td>
            <td ng-if="true">{{row.terrain|angular}}</td>
            <td ng-if="true">{{row.title|angular}}</td>
            <td ng-if="true">{{row.placed_by|angular}}</td>
        </tr>
    </table>
</div>
