<div ng-controller="GeocacheListCtrl as geolist">
    <table ng-table-dynamic="geolist.tableParams with geolist.cols" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="row in $data">
            <!--td ng-repeat="col in $columns">{{"{{row[col.field]}}"}}</td-->
            <td ng-if="true">{{row.gc_id|angular}}
                <div class="btn-group pull-right" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" uib-tooltip="Display geocache details" tooltip-popup-delay="1000" ng-click="geolist.show_details(row.id)"><span class="glyphicon glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default" uib-tooltip="Show geocache on map" tooltip-popup-delay="1000" ng-click="geolist.show_details(row.id)"><span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span></button>
                </div>
            </td>
            <td ng-if="true">{{row.difficulty|angular}}</td>
            <td ng-if="true">{{row.terrain|angular}}</td>
            <td ng-if="true">{{row.title|angular}}</td>
            <td ng-if="true">{{row.placed_by|angular}}</td>
        </tr>
    </table>
</div>
