<div ng-controller="GeocacheDetailCtrl as geocache">
    <uib-tabset>
        <uib-tab index="0" heading="Overview">
            <div class="container-fluid cache-detail">
                <div class="pull-left">
                    <geocache-icon type="{{geocache.serv.detail.type|angular}}" class="detail-type"></geocache-icon>
                </div>
                <div class="pull-left">
                    <div class="container-fluid">
                        <h4><strong>{{geocache.serv.detail.gc_id|angular}}: {{geocache.serv.detail.title|angular}}</strong> <small>{{geocache.serv.detail.type|angular}}</small></h4>
                        <h4><strong><geocache-coord lat="{{geocache.serv.detail.lat|angular}}"></geocache-coord>
                                <geocache-coord lon="{{geocache.serv.detail.lon|angular}}"></geocache-coord></strong>
                            <small>{{geocache.serv.detail.state|angular}}, {{geocache.serv.detail.country|angular}}</small>
                        </h4>
                    </div>
                </div>
            </div>
            <p></p>

            <div class="table">
                <dl class="table-row">
                    <dt>Difficulty: </dt>
                    <dd><geocache-rating value="{{geocache.serv.detail.difficulty|angular}}" class="rating_detail"></geocache-rating> ({{geocache.serv.detail.difficulty|angular}})</dd>
                    <dt>Cache Size: </dt>
                    <dd><geocache-size size="{{geocache.serv.detail.container|angular}}" class="size_detail"></geocache-size> ({{geocache.serv.detail.container|angular}})</dd>
                </dl>
                <dl class="table-row paragraph">
                    <dt>Terrain: </dt>
                    <dd><geocache-rating value="{{geocache.serv.detail.terrain|angular}}" class="rating_detail"></geocache-rating> ({{geocache.serv.detail.terrain|angular}})</dd>
                    <dt>Last Logs: </dt>
                    <dd><geocache-log ng-repeat="log in geocache.serv.detail.last_logs.split(';') track by $index" type="{{log|angular}}" title="{{log|angular}}" class="last_log"></geocache-log></dd>
                </dl>
            </div>
            <div class="table">
                <dl class="table-row">
                    <dt>Hidden: </dt>
                    <dd>{{"{{geocache.serv.detail.hidden|date:'dd.MM.yyyy'}}"}} by {{geocache.serv.detail.placed_by|angular}}</dd>
                </dl>
                <dl class="table-row">
                    <dt>Owner: </dt>
                    <dd>{{geocache.serv.detail.owner|angular}}</dd>
                </dl>
            </div>

            <div ng-if="geocache.serv.detail.attributes.length" class="paragraph">
                <p><strong>Attributes: </strong></p>
                <geocache-attr ng-repeat="att in geocache.serv.detail.attributes" attr="{{att.name|angular}}" inc="{{att.inc|angular}}" class="attr_detail"></geocache-attr>
            </div>
            <div>
                <a href="{{geocache.serv.detail.url|angular}}" target="_blank" class="btn btn-info btn-sm" role="button">Open Listing on geocaching.com</a>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="Description">
            <geocache-descr text="{{geocache.serv.detail.short_desc|angular}}" html="{{geocache.serv.detail.short_html|angular}}"></geocache-descr>
            <br />
            <geocache-descr text="{{geocache.serv.detail.long_desc|angular}}" html="{{geocache.serv.detail.long_html|angular}}"></geocache-descr>
            <p></p>
            <div ng-if="geocache.serv.detail.encoded_hints == ''">
                <strong>No hint available</strong>
            </div>
            <div ng-if="geocache.serv.detail.encoded_hints != ''">
                <button class="btn btn-primary btn-sm paragraph" style="width:90px;" ng-click="geocache.serv.detail.show_hint = !geocache.serv.detail.show_hint">{{"{{geocache.serv.detail.show_hint ? 'Hide' : 'Show'}}"}} Hint <span class="glyphicon glyphicon-eye-open"></span></button>
                <div ng-if="geocache.serv.detail.show_hint">{{geocache.serv.detail.encoded_hints|angular}}</div>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Logs">
            <div ng-repeat="log in geocache.serv.detail.logs | orderBy: '-date'">
                <div>
                    <div class="log-column"><geocache-log type="{{log.type|angular}}" class="log_type"></geocache-log></div>
                    <div class="log-column">
                        <div><strong>Date:</strong> {{"{{log.date|date:'dd.MM.yyyy'}}"}}</div>
                        <div><strong>{{log.type|angular}}</strong></div>
                        <div><strong>Logged by:</strong> {{log.finder|angular}}</div>
                        <hr>
                        <!--div>{{log.text|angular}}</div-->
                        <geocache-descr text="{{log.text|angular}}" html="false"></geocache-descr>
                    </div>
                </div>
                <hr class="dark" ng-if="!$last">
            </div>
        </uib-tab>
        <uib-tab index="3" heading="Waypoints">
        </uib-tab>
    </uib-tabset>    
</div>
