{% extends "bootstrap/base.html" %}

{% block styles %}
    <link href="/static/css/external/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/andyBee.css" rel="stylesheet">
{% endblock %}

{% block head %}
    {{super()}}
    <script src="/static/js/external/angular-1.6.3.min.js"></script>
    <script src="/static/js/external/angular-animate.min.js"></script>
    <script src="/static/js/external/angular-sanitize.min.js"></script>
    <script src="/static/js/external/angular-resource.min.js"></script>
    <script src="/static/js/external/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="/static/js/andyBee.js"></script>
{% endblock %}


{% block title %}AndyBee{% endblock %}
{% block html_attribs %}{{ super() }} ng-app="andyBeeApp"{% endblock html_attribs %}
{% block body_attribs %}{{ super() }} ng-controller="andyBeeCtrl as app" {% if default_db is defined %}ng-init="app.open_db('{{default_db}}')"{% endif %}{% endblock %}

{% block navbar %}
    {# {nav.andyBeeNavbar.render(renderer='andybee_renderer')} #}
    {% include "navbar.html" %}
{% endblock %}



{% block content %}

<div id="content">
<uib-tabset>
    <uib-tab index="0" heading="Cache List">
        <table>
            <tr>
                <th>Cache</th><th>Title</th>
            </tr>
            <tr ng-repeat="cache in app.caches">
                <td>{{ cache.gc_code|angular }}</td>
                <td>{{ cache.title|angular }}</td>
            </tr>
        </table> 
    </uib-tab>
    <uib-tab index="1" heading="Map">
        Hier kommt die Karte hin
    </uib-tab>
    <uib-tab index="2" heading="Cache Details">
        Hier ist Platz für die Cache Details
    </uib-tab>
    <uib-tab index="4" heading="Console">
        <div uib-alert ng-repeat="alert in app.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="app.close_alert($index)">{{alert.msg|angular}}</div>
    </uib-tab>
</uib-tabset>    
</div>

<div id="statusbar" class="statusbar pull-left text-muted container">
    DB: {{ app.db_file|angular }}
</div>
{% endblock %}

{% block scripts %}
<!--script>app.startup();</script-->
{% endblock %}
