{% extends "bootstrap/base.html" %}

{% block styles %}
    <link href="/static/external/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/external/node_modules/leaflet/dist/leaflet.css" rel="stylesheet">
    <link href="/static/external/node_modules/ng-table/bundles/ng-table.min.css" rel="stylesheet">
    <link href="/static/external/node_modules/leaflet.markercluster/dist/MarkerCluster.css" rel="stylesheet">
    <link href="/static/external/node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css" rel="stylesheet">
    <link href="/static/external/node_modules/angular-moment-picker/dist/angular-moment-picker.min.css" rel="stylesheet">
    <link href="/static/css/andyBee.css" rel="stylesheet">
{% endblock %}

{% block head %}
    {{super()}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/external/node_modules/leaflet/dist/leaflet.js"></script>
    <script src="/static/external/node_modules/file-saver/FileSaver.min.js"></script>
    <script src="/static/external/node_modules/angular/angular.min.js"></script>
    <!--script src="/static/external/node_modules/angular-animate/angular-animate.min.js"></script-->
    <script src="/static/external/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/static/external/node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="/static/external/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="/static/external/node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="/static/external/node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
    <script src="/static/external/node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="/static/external/node_modules/ng-table/bundles/ng-table.min.js"></script>
    <script src="/static/external/node_modules/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="/static/external/node_modules/moment/min/moment-with-locales.js"></script>
    <script src="/static/external/node_modules/angular-moment-picker/dist/angular-moment-picker.min.js"></script>

    <script src="/static/main/andyBee.module.js"></script>
    <script src="/static/main/andyBee.controller.js"></script>
    <script src="/static/main/andyBee.directive.js"></script>
    <script src="/static/main/andyBee.constants.js"></script>
    <script src="/static/main/andyBee.filter.js"></script>
    <script src="/static/main/andyBee.functions.js"></script>
    <script src="/static/main/busy.service.js"></script>
    <script src="/static/main/busy.controller.js"></script>
    <script src="/static/preferences/preference.service.js"></script>
    <script src="/static/preferences/preference.controller.js"></script>
    <script src="/static/geocaches/geocache.service.js"></script>
    <script src="/static/geocaches/geocache_opendb.controller.js"></script>
    <script src="/static/geocaches/geocache_list.controller.js"></script>
    <script src="/static/geocaches/geocache_detail.controller.js"></script>
    <script src="/static/geocaches/geocache_map.controller.js"></script>
    <script src="/static/geocaches/geocache_update.controller.js"></script>
    <script src="/static/gpx/gpx_import.controller.js"></script>
    <script src="/static/gpx/gpx_export.controller.js"></script>
    <script src="/static/gpx/gpx.service.js"></script>
    <script src="/static/logging/logging.service.js"></script>
    <script src="/static/logging/logging.controller.js"></script>
    <script src="/static/logging/logging_severe.controller.js"></script>
    <script src="/static/filter/filter.service.js"></script>
    <script src="/static/filter/filter_basic.controller.js"></script>
    <script src="/static/filter/filter_manage.controller.js"></script>
    <script src="/static/db/db.service.js"></script>
{% endblock %}


{% block title %}AndyBee{% endblock %}
{% block html_attribs %}{{ super() }} ng-app="andyBeeApp"{% endblock html_attribs %}
{% block body_attribs %}{{ super() }} ng-controller="andyBeeCtrl as app"{% endblock %}

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}



{% block content %}

<div id="content">
<uib-tabset active="app.geocache.selected_tab">
    <uib-tab index="0" heading="Cache List">
        {% include "cache_list.html" %}
    </uib-tab>
    <uib-tab index="1" heading="Map" ng-click="app.refreshMap()">
        {% include "map.html" %}
    </uib-tab>
    <uib-tab index="2" heading="Cache Details" disable="!app.geocache.detail.id">
        {% include "cache_details.html" %}
    </uib-tab>
    <uib-tab index="3" heading="Console">
        {% include "console.html" %}
    </uib-tab>
</uib-tabset>    
</div>

<div id="statusbar" class="statusbar pull-left text-muted container">
    DB: {{ app.geocache.db_name|angular }}, Geocaches: <span class="badge">{{ app.geocache.nbr_caches|angular }}</span>
    <span class="bg-danger" ng-if="app.filter.filter_applied">Applied Filter: {{app.filter.filter_name|angular}} Number of selected Geocaches: <span class="badge">{{app.geocache.geocache_list.length|angular}}</span></span>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
