<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="app.isNavCollapsed = !app.isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="#">andyBee</span>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="app.isNavCollapsed">
        <ul class="nav navbar-nav">
            <li class="dropdown" uib-dropdown>
              <a uib-dropdown-toggle href="#">File <span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="#" ng-click="app.open_db_dialog()" title="Open a database or create a new one">Open database ...</a></li>
                <li ng-class="{'disabled': !app.geocache.db_name}" role="menuitem"><a href="#" ng-click="app.import_gpx_dialog()" title="Import a GPX-file into the database">Import from GPX ...</a></li>
                <li ng-class="{'disabled': !app.geocache.db_name}" role="menuitem"><a href="#" ng-click="app.export_gpx_dialog()" title="Export the database to a GPX-file">Export to GPX ...</a></li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown>
              <a uib-dropdown-toggle href="#">Filter <span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li ng-class="{'disabled': !app.geocache.db_name}" role="menuitem"><a href="#" ng-click="app.basic_filter_dialog()" title="Create a basic filter">Define Filter ...</a></li>
                <li ng-class="{'disabled': true}" role="menuitem"><a href="#" title="Clear the current filter">Clear Filter</a></li>
                <li role="menuitem"><a href="#" title="Save and delete filters" ng-click="app.manage_filter_dialog()">Manage Filters ...</a></li>
                <li class="divider"></li>
                <p class="navbar-text">Apply Filter:</p>
                <li ng-repeat="filter in app.filter.filter_list" role="menuitem"><a href="#" ng-click="app.apply_filter($index)">{{filter.name|angular}}</a></li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown>
              <a uib-dropdown-toggle href="#">Option <span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="#" ng-click="app.pref_dialog()">Edit Preferences ...</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav>
