<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="app.isNavCollapsed = !app.isNavCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" href="#">andyBee</span>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="app.isNavCollapsed">
        <ul class="nav navbar-nav">
            <li class="dropdown" uib-dropdown>
              <a uib-dropdown-toggle href="#">File <span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="#" ng-click="app.open_db_dialog()">Open database ...</a></li>
                <li role="menuitem"><a href="/upload_gpx" title="Import GPX">Import GPX ...</a></li>
              </ul>
            </li>
            <li class="dropdown" uib-dropdown>
              <a uib-dropdown-toggle href="#">Option <span class="caret"></span></a>
              <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li role="menuitem"><a href="#" ng-click="app.pref_dialog()">Edit Preferences ...</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav>
